.article {
}

.article_votes {
}

.article_voteButtons {
}

.article_info {
}

.article_topic {
}

.article_title {
}

.article_author {
}

.article_body {
}

/* comments */

.comments {
}

.comments_title {
}

.comments_list {
}

.comments_singleList {
  border: 1px solid black;
  float: left;
  margin-bottom: 1em;
  display: table-column;
  width: 49%;
  padding: 0.1em;
}

.comments_author {
}

.comments_body {
}

.comments_deletebutton {
}

.comments_new {
}

/* postcomments */

.postcomment {
}

.postComment_form {
}

.post_CommentInput {
}

.postComment_submit {
}

/* voting */

.voting {
}

.voting_upvote {
}

.voting_showVotes {
}

.voting_downvote {
}

.voting_err {
}
