.home {
}
.home_articleList {
  list-style-type: none;
  margin: 1em;
  margin-left: -2em;
}

.home_articleListSingle {
  border: 1px solid black;
  margin-bottom: 1em;
  float: left;
  display: block;
  width: 33.3%;
  padding: 0.1em;
}

.home_article {
}

.home_topic {
}

.home_title {
  margin: 2px;
  word-wrap: break-word;
}

.home_timestamp {
  margin: 5px;
}

.home_comments {
  margin: 3px;
}

.home_author {
  margin: 4px;
}

.home_link {
  text-decoration: none;
  color: black;
}
